* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
}

.left-links {
    list-style: none;
    display: flex;
}

.left-links li {
    margin-right: 20px;
}

.left-links a {
    text-decoration: none;
    color: white;
}

.right-links {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px;
    height: auto;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    .left-links {
        display: none;
    }

    .navbar.menu-open .left-links {
        display: flex;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 10px;
    }
}
